<div>{% if heading_title %}
  <h2>{{ heading_title }}</h2>
  {% endif %}
  {{ html }}</div>

<script type="text/javascript">
(function($){
$("#testi").owlCarousel({
    itemsCustom : [
    [0, 1]
    ],
      autoPlay: false,
      navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      navigation : false,
      pagination:false
    });
    }(jQuery));

  </script>